*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: 'Oswald', sans-serif;
font-family: 'Playfair Display', serif;
/* font-family: 'Roboto Condensed', sans-serif; */
}
